.container{
    border: 3px solid;
    height: 300px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;

}
.box{
    padding: 10px;
    font-size: 2rem;

}
.box:first-child{
    background: yellow;
}
.box:nth-child(2){
    background: cyan;
}
.box:nth-child(3){
    background: green;
}
.box:nth-child(4){
    background: red;
}