*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: blue;
    text-align: center;
}
ul li{
    display: inline-block;
}
ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: all 0.5s ease-in;
}
ul li a:hover{
    background: rgb(0, 204, 255);
}