*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.pge
