*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
header, footer{
    background: blue;
    padding: 10px;
}
main{
    height: 80vh;
    display: grid;
    grid-template-rows: 60% auto;
    gap: 10px;
    padding: 10px;
    font-size: 2rem;
    margin: 10px 10%;
}
.haut{
    display: grid;
    grid-template-columns: 70% auto;
    gap: 10px;
}
.main-content{
    background: yellowgreen;
}
.sidebar{
    background: red;
}
.bas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.twin{
    background: orange;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



