.container{
    border: 3px solid black;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% auto;
    gap: 10px;
}

.box{
    padding: 10px;
    font-size: 2rem;
}
.box:first-child{
    background: red;
    grid-column: span 2;
}

.box:nth-child(2){
    background: cyan;
    grid-row: span 2;
}
.box:nth-child(3){
    background: green;
}
.box:nth-child(4){
    background: yellowgreen;
}
.box:nth-child(5){
    background: purple;
}
.box:nth-child(6){
    background: blue;
}