.container{
    width: 500px;
    border: 3px solid black;
    padding: 10px;
    height: 350px;
    position: relative;


}
.box{
    padding: 10px;
    width: 200px;
    margin: 10px;
    font-size: 1.5rem;
}
.box:nth-child(1){
    background: yellow;
    position: relative;
    left: 250px;
    top: 60px;

}
.box:nth-child(2){
    background: red;
    position: absolute;
    right: 30%;
    bottom: 0;
}
.box:nth-child(3){
    background: green;
    color: white;
    position: fixed;
    top: 200px;
    left: 150px;
}
.box:nth-child(4){
    background: black;
    color: white;
    position: sticky; /*utiliser pour navbar, comme fixed jusqu'à ce que le parent soit fini*/
    top: 0;
}
/*s'ils se superposent, on mets z-index : négative ou positive*/