*{
    margin: 0;
    color: white;
}
header, footer{
    background: olivedrab;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin: 10px;
}
main{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-inline: 10px;
}
.left{
    background: green;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 80%;
    background: orange;
    display: flex;
    flex-direction: column;
}
.article{
    height: 65%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.bas{
    height: 30%;
    margin-inline: 10px ;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
img{
    height: 100%;
    width: 100%;

}