*{
    margin: 0;
    padding-top: 10px;
}
#connection-page{
    width: 350px;
    height: 400px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px;
}
.fa-tiktok{
    font-size: 40px;
    color: blue;
}
.titre{
    color: red;
    margin: 10px;

}
input{
    margin: 10px;
    width: 70%;
    height: 30px;
    line-height: 30px;
    border: 1px solid grey;
    border-radius: 6px;
}
button{
    width: 72%;
    height: 30px;
    border-radius: 6px;
    border: none;
    margin: 10px;
    color: white;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#login{
    background: red;
}
#getfollow{
    background: cyan;
}
a{
    text-decoration: none;
    color: red;
}